*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(101, 114, 126);
}

#wrapper{
    width: 1000px;
    background-color: white;
    /* border: 1px solid black; */
    margin: 0 auto;
}

#header{
    background-color: crimson;
    
    height: 100px;
}

#header h1{
    color: white;
    padding: 30px 0 0 20px;
}

#menu{
    background-color: lightsalmon;
}

#menu ul{
    margin: 0;
    padding: 0;
}

#menu li{
    display: inline-block;
    padding: 10px 12px;
}

#menu li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    position: relative;
}

#menu li a::after {
    position: absolute;
    bottom: -2px;
    right: 50%;
    width: 0%;
    height: 2px;
    background-color:crimson;
    content:"";
    transition: width 0.7s;
}

#menu li a:hover:after {
    width: 50%;
}
#menu li a::before {
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color:crimson;
    content:"";
    transition: width 0.7s;
}

#menu li a:hover::before {
    width: 50%;
}

/* #menu li a:hover{
    background-color:  crimson;
    color: white;
} */

#content{
    width: 800px;
    float: left;
    min-height: 400px;
    padding: 10px;
    box-sizing: border-box;
}

#content h2{
    padding:10px 0 15px 10px;
}

#content p{
    padding: 10px;
}

#sidebar{
    width: 200px;
    float: right;
    min-height: 400px;
    background-color: lightblue;
    box-sizing: border-box;
    padding:25px;
    border: 1px solid black;
}


#sidebar a{
    text-decoration: none;
    color: black;
    
}

#footer{
    background-color: lightsalmon;
    clear: both;
    padding: 5px 10px;
    text-align: center;
}